.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 30px;
}

.box-subscribe{

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height:60vh;
  max-width: 600px;

  img.logo{
    width: 200px;
  }

  .claimer {
    text-align: center;
    color: #2dd36f;
    font-size: 0.9rem;
  }

  app-stepper{
    width: 70%;
  }

  form{
    width: 100%;
    text-align: center;
    margin-top:1rem;

    ion-input{
      text-align: left;
    }
    
    ion-button{
      margin-top:2rem;
    }

  }

}
